{% extends './base.html' %}

{% block title %}Create user{% endblock %}

{% block content %}
  <h1 style="text-align: center"> Add new user</h1>

<form method="POST" >
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" >
  </div>
 <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="text" name="image" class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">Age</label>
    <input type="number" name="age" class="form-control">
  </div>


  <button type="submit" class="btn btn-info w-100">Add</button>
</form>
{% endblock %}


