.resetpassword {
}

.resetpassword .container {
    margin-block: 100px;
    margin-bottom: 100px;
}

.resetpassword .resetpassword-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.resetpassword .title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.resetpassword label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}

.resetpassword input,
.resetpassword input {
    width: 100%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 18px;
}

.resetpassword input:focus,
.resetpassword input:focus {
    border-color: #007bff;
    outline: none;
}

.resetpassword form button {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100%;
}

.resetpassword button {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100%;
}

.resetpassword .other {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.resetpassword .other div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
    width: 100%;
}

.resetpassword .other p {
    font-size: 18px;
}

@media (max-width: 767px) {
    .resetpassword .other div {
        flex-wrap: wrap;
    }
}

.resetpassword .other div button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
    user-select: none;
}
