
  .hero {
    /* background-image: url('../assest/img4bg.jpg'); */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 0;
    background-color: #f05f40; 
    height: 630px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .bg-img{
    position:absolute ;
    bottom:160px;
    left: 1100px;
    height: 690px;
    width: 735px;
    
  }
  .imgbg{
    /* background-image: url('../assest/img4bg.jpg'); */
    /* position:absolute ;
    bottom:300px;
    left: 1200px; */
    height: 590px;
    width: 635px;
    

  }
  
  .textcard{
    position: absolute;
    left: 50px;
    top: 200px;
    width: 1000px;
    height: 800px;

  }
  .hero h1 {
    font-size: 48px;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .bg-orange {
    background-color: #f7941d;
    border: none;
    color: white;
  }
  
  
  .search-section {
    background-color: whitee; 
    padding: 30px 0;
  }
  
  .search-button {
    background-color:orange;
    border: none;
    color: white;
  }
  
  
  .card-title {
    color: orange; 
  }
  
  .card-text {
    color: #333;
  }
  
 
  .footer {
    background-color: #fff3e0;
    color: white;
  }
  
  .footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer .social-icons a {
    color:#47320a;
  }

  span{
    color:orange
  }