.resetpassword .container {
    padding-block: 100px;
}

.resetpassword .container h2 {
    text-align: center;
}

.resetpassword .container label {
    font-size: 20px;
}

.resetpassword .container input {
    font-size: 25px;
}

.resetpassword .container button {
    padding-block: 10px;
    font-size: 18px;
}
