.listorders .container {
    margin-block: 100px;
    margin-bottom: 100px;
}

.listorders .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listorders .item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--raisin-black-1);
    border-radius: 8px;
    /* background-color: var(--alice-blue); */
    transition: var(--transition);
}

@media (max-width: 767px) {
    .listorders .item {
        flex-direction: column;
    }
}

.listorders .item:hover {
    background-color: var(--cultured-1);
}

.listorders .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 25px;
}

.listorders .info .id {
    font-weight: bold;
    color: var(--orange-soda);
}

.listorders .buttons {
    display: flex;
    gap: 10px;
}

.listorders .add-btn {
    /* background-color: var(--cadet); */
    background-color: #0d6efd;
}

.listorders .view-btn {
    /* background-color: var(--yellow-green); */
    background-color: #0d6efd;
}

/* .listorders .update-btn {
    background-color: var(--orange-soda);
} */

.listorders .delete-btn {
    background-color: #0d6efd;
}

.listorders .back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
}
